module.exports = {
	telegram_token : 'xxxxxx',
	firebase : {
		apiKey: "xxxxx",
	    authDomain: "xxxxxxx.firebaseapp.com",
	    databaseURL: "https://xxxxx.firebaseio.com",
	    projectId: "xxxxx-xxx",
	    storageBucket: "xxxxxx.appspot.com",
	    messagingSenderId: "xxxxxx"
	}
};